* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  :root {
    --color-primary: #6c63ff;
    --color-success: #00bf8a;
    --color-warning: #f7c94b;
    --color-danger: #f75742;
    --color-danger-varient: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
  
    --container-width-1g: 88%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
  
    --trainsition: all 400ms ease;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
  }
  
  .container {
    width: var(--container-width-1g);
    margin: 0 auto;
  }
  
  section {
    padding: 6rem 0;
  }
  
  section h2 {
    text-align: center;
    margin-bottom: 4rem;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.2;
  }
  
  h1 {
    font-size: 2.4rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.6rem;
  }
  
  h4 {
    font-size: 1.3rem;
  }
  
  a {
    color: var(--color-white);
  }
  
  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--trainsition);
  }
  
  .btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
  }
  
  .btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
  }
  
*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

/* Header section */
header{
    position: fixed;
    top:0; left:0; right:0;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:#fff;
    font-weight: bolder;
}

header .logo span{
    color:var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#fff;
}

header .navbar a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}

header .bx-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

/* main section */
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    color:#333;
}

.home .content span{
    font-size: 3.5rem;
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#fff;
    padding:1rem 0;
    line-height: 1.5;
}

/* video */
.back-video-2{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Faqs */

.faqs {
    background-color: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
  }
  
  .faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  .faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
  }
  
  .faq h4 {
    font-size: 1rem;
    line-height: 2.2;
  }
  
  .faq__icon {
    align-items: flex-start;
    font-size: 1.2rem;
  }
  
  .faq p {
    margin: 0.8rem;
    display: none;
  }
  
  .faq.open p {
    display: block;
  }

/* footer section */
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 1rem;
}

.footers {
    height: 100px;
    padding: 20px 0;
    text-align: center;
    color: #696969;
  }
  
  .footers i {
    font-size: 30px;
    color: #696969;
  }
  
  .footers p {
    margin: 0 0;
    font-size: 2rem;
  }